<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet"  href="/public/learningStyles.css">
    <script src="/public/learningScript.js" defer></script>
    <title>Cards</title>
</head>
<body>
    <a href= "/cards/<%= deckId%>" id="backButton">Назад</a>

    <h1 id="question"></h1>
    <hr id="qaSeparator" style="display: none; background-color:#CDE7B0; height: 2px; width:100%">
    <input id = "answerInput" type="text" name = "answer" autocomplete="off">

    <h2 id="answer" style="display: none;">testAnswer</h2>
    <h2 id="answerFromInput" style="display: none;">testAnswer2</h2>
    

    <div id="answerContainer" tabindex="0">
        <div class="answerItem" style="color: #eb1c1c;">1. Погано</div>
        <div class="answerItem" style="color: #CDE7B0;">2. Добре</div>
        <div class="answerItem" style="color: #688E26;">3. Чудово</div>
    </div>
   
    <h1 id="cardsContainer" cardsArrJson="<%=cardsArrJson%>" style="display: none;"></h1>
</body>
</html>