<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet"  href="/public/learningStyles.css">
    <script src="/public/learningScript.js" defer></script>
    <title>Вивчення</title>
</head>
<body>
    <a href= "/cards/<%= deckId%>" id="backButton">Назад</a>
    <h1>meow</h1>
    <input id = "answerInput" type="text" name = "answer" autocomplete="off">
</body>
</html>