<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сторінка авторизації</title>
  <link rel ="stylesheet"  href="/public/loginStyles.css">
</head>
<body>

  <form id="loginForm">
    <label for="username">Логін:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Пароль:</label>
    <input type="text" id="password" name="password" required>

    <button type="button" onclick="login()">Увійти</button>
    <p></p>
    <a href="/api/signup" id="registerLink">Зареєструватися</a>
  </form>
  

  <script>
    function login() {
      const loginUsername = document.getElementById('username').value;
      const loginPassword = document.getElementById('password').value;
      const data = {
        username: loginUsername,
        password: loginPassword
      };
      fetch('/api/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response =>{
        if(!response.ok){
          console.log("Неправильна комбінація логіну та паролю");
        }
      })
    }
  </script>

</body>
</html>
