<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cards</title>
  <link rel ="stylesheet"  href="/public/loginStyles.css">
</head>
<body>
  <form id="loginForm">
    <label for="username">Логін:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Пароль:</label>
    <input type="text" id="password" name="password" required>
    <h4 style="display: none" id="errorMassage">Користувач з таким ім'ям вже існує</h4>
    <button id="regButton" type="button" onclick="register()">Зареєструватися</button>
  </form>

  <script>
     function register() {
      const loginUsername = document.getElementById('username');
      const loginPassword = document.getElementById('password');
      const data = {
        username: loginUsername.value,
        password: loginPassword.value
      };
      fetch('/api/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then((response)=>{
        if(response.ok){
           window.location.href = '/api/login';
        }
        else{
          console.log("awfaf");
          const errorMassage = document.getElementById('errorMassage')
          errorMassage.style.color = "#cf1212";
          errorMassage.style.display ="block";
          loginUsername.style.borderColor = "#cf1212";
          loginPassword.style.borderColor = "#cf1212";
          loginUsername.value = '';
          loginPassword.value = '';
        }
       
      })
    }
  </script>

</body>
</html>
