table, th, td {
    border: 1px solid #90ac78;
    text-align: center;    
    border-collapse: collapse;
    border-width: 3px;
}

body{
    display: grid;
    place-items: center;
    font-family: 'Trebuchet MS', sans-serif;
}

button{
    background-color: #758e61;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.changeButtonsConteiner{
    gap: 0px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
 }

.input_card{
    display: flex; 
    position:fixed;
    bottom: 0;
    padding: 20px;
    margin-right: 10px; 
    
}
input{
    height: 32px;
}

#addCard{
    width: 150px; 
    height: 40px; 
    background-color: #758e61;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

