table, th, td {
    border: 1px solid #90ac78;
    text-align: center;    
    border-collapse: collapse;
    border-width: 3px;
    margin-bottom: 10px;
}

body{
    display: grid;
    place-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 70px;
}

button{
    background-color: #758e61;
    color: #fff;
    border-radius: 0px;
    border-color: black;
    cursor: pointer;
    margin: 0px;
    height: 30px;
    border-radius: 0;
    padding: 0;
}
.changeButtonsConteiner{
    gap: 0px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
 }

.input_card{
    display: flex; 
    position:fixed;
    bottom: 0;
    padding: 20px;
    margin-left: 85px; 

}
input{
    height: 32px;
}

#addCard{
    width: 150px; 
    height: 40px; 
    background-color: #758e61;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#backButton{
    position: fixed;
    top: 0;
    left: 0;
    margin: 30px; 
    z-index: 9999;
    color: #758e61;
    text-decoration: none;
}



